@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Montserrat', sans-serif;
}

.home{
  height: 90vh;
}

header{
  height: 12vh;
}

.header-container{
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-container__logo{
  display: grid;
  align-items: center;
  padding-left: 2em;
}

.header-container__logo img{
  height: 9vh;
}

.header-container__nav{
  font-size: 1.2rem;
  font-weight: 400;
  grid-column-start: 3;
}

.header-container__nav ul{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  padding: 0 1em;
}

.header-container__nav a{
  color: #333;
  text-decoration: none;
}
.header-container__nav a:hover{
  text-decoration: none;
  font-weight: bold;
}

.header-container__nav li{
  list-style: none;
}

main{
  height: 79vh;
}

.main-container, .aboutme-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;

}

.main-container__txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  padding: 2em;

}

.main-container__txt span{
  font-size: 2.5rem;
}

.main-container__txt h1{
  color: rgb(39, 39, 133);
  font-size: 4em;
}
.main-container__txt h2{
  color: rgb(35, 35, 168);
  font-size: 2.5em;
}

.main-container__img{
  height: 90%;
  padding: 1em; 
}

.section-division{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 9vh;
}

.down-arrow{
  cursor: pointer;
}

/* ABOUTME SECTION */

.aboutme{
  height: 90vh;
}

.aboutme--img{
  margin-bottom: 8em;
  padding: 1em;
}

.aboutme--img img{
  height: 90%;
}

.aboutme--txt{
  margin-top: 8em;
  padding-top: 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutme--txt h2{
  color: rebeccapurple;
  font-size: 2.5rem;
}
.aboutme--txt h3{
  color: rgb(163, 96, 231);
  font-size: 2rem;
}

.aboutme--txt p{
  font-size: 1.3rem;
  padding-top: 1em;
}

/* SKILLS SECTION */

.skills{
  background: hsl(250, 93%, 95%);
  height: 90vh;
  margin-top: 10vh;
}

.skills-container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.skills-text{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2em;
  padding: 1em;
}

.skills-logos img{
  width: 8em;
}

.skills-logos img:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.skills-logos{
  text-align: center;
}

/* PORTFOLIO SECTION */

.portfolio{
  height: 90vh;
  padding: 1em;
}

.portfolio-container{
  max-width: 1200px;
  margin: 0 auto;
  height: 95%;
}

.portfolio-container--row1{
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 40vh;
  width: 100%;
  padding: 1em;
  
}
.portfolio-container--row2{
  align-items: center;
  justify-items: end;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 40vh;
  width: 100%;
  padding: 1em;
}/

.portfolio-container--img{
  grid-column: 4;
  grid-row: 2;
}

.portfolio-container--img .me-working{
  transform: scaleX(-1);
  max-height: 40vh;
}

.portfolio-container--title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-container h2{
  font-size: 1.8rem;
  grid-column: 1;
  grid-row: 1;
}

.portfolio-container--proyects__pro1, .portfolio-container--proyects__pro2{
  border-radius: 25px;
  box-shadow: 18px 13px 15px 1px rgba(0,0,0,0.2),0px 10px 15px -3px rgba(0,0,0,0.1);

  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 550px;
  max-height: 200px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.portfolio-container--proyects__pro1__techs, .portfolio-container--proyects__pro2__techs{
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  max-width: 300px;
}

.portfolio-container--proyects__pro1__techs__icons img, .portfolio-container--proyects__pro1__techs__links img, .portfolio-container--proyects__pro2__techs__icons img, .portfolio-container--proyects__pro2__techs__links img{
  width: 4em;
  grid-row: 1;
}

.portfolio-container--proyects__pro1__techs__links button, .portfolio-container--proyects__pro2__techs__links button{
  color: #fafafa;
  background: #333;
  border: none;
  padding: 1em;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.portfolio-container--proyects__pro2__techs{
  grid-column-start: 1;
}

.portfolio-container--proyects__pro1__techs__links button:active, .portfolio-container--proyects__pro2__techs__links button:active{
  transform: scale(0.9);
  
}

.portfolio-container--proyects__pro1__techs__links, .portfolio-container--proyects__pro2__techs__links{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-row: 2;
  width: 70%;
}

.portfolio-container--proyects__pro2{
  max-width: 550px;
  max-height: 200px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.portfolio-container--proyects__pro1 img, .portfolio-container--proyects__pro2 img{
  max-width: 350px;
  max-height: 200px;
}

.portfolio-container--proyects__pro2 img{
  grid-column-start: 2;
}

.portada-pro2{
  width: 268px;
  height: 200px;
  object-fit: cover;
}

.portfolio-container--proyects__pro1 img:active{
  transform: scale(0.9);
}

/* CONTACT */

.contactme{
  height: 40vh;
  background: #333;
}

.contactme-container{
  align-items: center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}

.contactme-container__msg{
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

.contactme-container__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactme-container__links img{
  width: 100px;
}

.contactme-container__logo{
  display: grid;
  align-items: center;
  justify-content: center;
}

.contactme-container__logo img{

  width: 150px;
  color: white;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  text-align: center;
  height: 35px;
}

/*  */

@media screen and (min-width: 375px) and (max-width: 767px){

  .home{
    height: 100vh;
  }

  .section-division{
    display: none;
  }

  header{
    height: 15vh;
  }

  .header-container{
    display: flex;
    flex-direction: column;
  }

  .header-container__logo{
    margin-top: 1em;
    padding: 0;
  }
  
 
  
  .header-container__nav{
      grid-row: 2;
      grid-column-start: 1;
      font-size: 0.7rem;
      font-weight: 400;
      grid-column-start: 3;
      margin-top: 1em;
    }

    main{
      height: 75vh;
    }

    .main-container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      /* height: 65vh; */
    }

    .main-container__txt{
      padding: 0 1em;
      height: 100%;
    }

    .main-container__img{
      height: 90%;
      padding: 0;
      /* grid-row: 1; */
    }

    .main-container__txt span{
      font-size: 1.5rem;
    }

    .main-container__txt h1{
      color: rgb(39, 39, 133);
      font-size: 3em;
    }
    .main-container__txt h2{
      color: rgb(35, 35, 168);
      font-size: 1.5em;
    }



    .aboutme{
      height: 100vh;
      display: grid;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-items: center;
    }

    .aboutme-container{
      height: 100vh;
      display: grid;
      justify-content: center;
      align-content: center;
    }

    .aboutme--img{
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: 3;
      padding: 1em;
      width: 100%;
      height: 100%;
      align-items: center;
      margin: 0;
    }

    .aboutme--txt{
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 3;
      padding-top: 2em;
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      margin-top: 0;
    }

    .aboutme--txt h2{
      color: rebeccapurple;
      font-size: 1.8rem;
    }
    .aboutme--txt h3{
      color: rgb(163, 96, 231);
      font-size: 1.2rem;
    }

    .aboutme--txt p{
      font-size: 1rem;
      padding-top: 1em;
    }


    .portfolio{
      height: 1100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .portfolio-container{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
    }

    .portfolio-container--row1{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: -150px;
    }

    .portfolio-container--title{
      grid-column-start: 1;
      grid-column-end: 3;
      margin: 1em auto;
      text-align: center;
    }

    .portfolio-container--proyects__pro1, .portfolio-container--proyects__pro2{
      grid-column-start: 1;
      grid-column-end: 3;
      grid-template-rows: 2fr 1fr;
    }

    .portfolio-container--proyects__pro2{
      margin-top: -100px;
    }
    
    .portfolio-container--proyects__pro1 img, .portada-pro2{
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row: 1;
      width: 100%;
    }

 
    
    .portfolio-container--proyects__pro1__techs, .portfolio-container--proyects__pro2__techs{
      grid-row: 2;
      grid-column-start: 1;
      grid-column-end: 3;
      justify-items: center;
      margin: 1em auto;
      width: 100%;
    }

  
    .portfolio-container--proyects__pro1__techs__icons img{
      width: 70px;
    }

    .portfolio-container--proyects__pro1__techs__links{}
    .portfolio-container--proyects__pro1__techs__links img{
      width: 70px;
    }

    .portfolio-container--proyects__pro2{
      display: flex;
      flex-direction: column-reverse;
    }

    .portfolio-container--row2{
      display: flex;
      flex-direction: column;
    }

    .portfolio-container--img{
      /* margin: 50px auto; */
    }

    .skills, .contactme, footer{
      /* display: none; */
    }

}

/* @media screen and (min-width: 376px) and(max-width: 767px){

  .section-division{
    display: none;
  }

  header{
    height: 15vh;
  }

  .header-container{
    display: flex;
    flex-direction: column;
  }

  .header-container__logo{
    margin-top: 1em;
    padding: 0;
  }
  

  
  .header-container__nav{
      grid-row: 2;
      grid-column-start: 1;
      font-size: 0.7rem;
      font-weight: 400;
      grid-column-start: 3;
      margin-top: 1em;
    }

    .main-container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .main-container__img{
      /* grid-row: 1; */
    }

    /* .main-container__txt span{
      font-size: 1.5rem;
    }

    .main-container__txt h1{
      color: rgb(39, 39, 133);
      font-size: 3em;
    }
    .main-container__txt h2{
      color: rgb(35, 35, 168);
      font-size: 1.5em;
    }

    .aboutme--txt{
      margin-top: 8em;
      padding-top: 2em;
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .aboutme--txt h2{
      color: rebeccapurple;
      font-size: 1.8rem;
    }
    .aboutme--txt h3{
      color: rgb(163, 96, 231);
      font-size: 1.2rem;
    }

    .aboutme--txt p{
      font-size: 1rem;
      padding-top: 1em;
    } */

} 

@media screen and (min-width: 768px)  and (max-width: 1439px){
  .header-container__nav{
      font-size: 0.9rem;
      font-weight: 400;
      grid-column-start: 3;
    }

    .main-container__txt span{
      font-size: 1.5rem;
    }

    .main-container__txt h1{
      color: rgb(39, 39, 133);
      font-size: 3em;
    }
    .main-container__txt h2{
      color: rgb(35, 35, 168);
      font-size: 1.5em;
    }

    .aboutme--txt{
      margin-top: 8em;
      padding-top: 2em;
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .aboutme--txt h2{
      color: rebeccapurple;
      font-size: 1.8rem;
    }
    .aboutme--txt h3{
      color: rgb(163, 96, 231);
      font-size: 1.2rem;
    }

    .aboutme--txt p{
      font-size: 1rem;
      padding-top: 1em;
    }

}

@media screen and (min-width: 768px)  and (max-width: 1439px) and (orientation: portrait){
  .header-container__nav{
      font-size: 0.9rem;
      font-weight: 400;
      grid-column-start: 3;
    }

    .main-container__txt span{
      font-size: 1.5rem;
    }

    .main-container__txt h1{
      color: rgb(39, 39, 133);
      font-size: 3em;
    }
    .main-container__txt h2{
      color: rgb(35, 35, 168);
      font-size: 1.5em;
    }

    .aboutme--txt{
      margin-top: 8em;
      padding-top: 2em;
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .aboutme--txt h2{
      color: rebeccapurple;
      font-size: 1.8rem;
    }
    .aboutme--txt h3{
      color: rgb(163, 96, 231);
      font-size: 1.2rem;
    }

    .aboutme--txt p{
      font-size: 1rem;
      padding-top: 1em;
    }

}

@media screen and (min-width: 1440px) {
  
  .main-container, .skills-container, .portfolio-container, .aboutme-container, .header-container{
    max-width: 1400px;
  }

  .header-container__nav{
      font-size: 1.5rem;
    }
  
  .main-container__txt h1{
      color: rgb(39, 39, 133);
      font-size: 6em;
    }
    .main-container__txt h2{
      color: rgb(35, 35, 168);
      font-size: 4em;
    }

    .aboutme--txt h2{
      color: rebeccapurple;
      font-size: 3.5rem;
    }
    .aboutme--txt h3{
      color: rgb(163, 96, 231);
      font-size: 3rem;
    }

    .aboutme--txt p{
      font-size: 1.8rem;
      padding-top: 1em;
    }

    .skills-text{
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 3em;
      padding: 1.5em;
    }

    .skills-logos img{
      width: 9em;
    }
}

